@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.share-width {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: black;
}

header {
    background: linear-gradient(rgba(119, 119, 119, 0.087), rgb(30, 30, 30), rgb(30, 30, 30), rgba(119, 119, 119, 0));

}

/* navbar section style */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.nav-logo {
    color: rgb(230, 83, 60);
    font-size: 2.25em;
    font-weight: 800;
    font-style: italic;
}

.nav-menu {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-menu a:nth-child(-n+3) {
    text-decoration: none;
    margin-right: 47px;
}

.m-home {
    border-radius: 46px;
    font-size: 18px;
    font-weight: 600;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    border: none;
}

.m-other {
    border-radius: 46px;
    font-size: 18px;
    font-weight: 600;
    background: none;
    padding: 8px 20px;
    border: none;
}

.m-home:hover {
    cursor: pointer;
    background: none;
    color: rgb(230, 83, 60);
}

.m-other:hover {
    cursor: pointer;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}

/* banner section style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}

.banner-text {
    font-size: 78px;
    font-weight: 900;
    width: 520px;
    margin-bottom: 28px;
}

.banner-text-1 {
    font-family: "Dancing Script", cursive;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.button-1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: 1px solid rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    margin-right: 14px;
}

.button-2 {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: none;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
}

.button-1:hover {
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: none;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
}

.button-2:hover {
    cursor: pointer;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: 1px solid rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    margin-right: 14px;
}

.banner-img {
    position: relative;
}

.video-button {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    padding: 20px 23px;
    position: absolute;
    bottom: 63px;
    left: -105px;
}

.video-icon {
    border: 1px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.video-text h1 {
    font-size: 24px;
    font-weight: 900;
    margin: 0 0 8px 0;
}

.video-text p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    margin: 0;
}

.video-text-1 {
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 373px;
    left: 200px;
}

.video-text-1 h1 {
    margin: 16px 23px 5px 23px;
    font-size: 40px;
    font-weight: 900;
}

.video-text-1 p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin: 0 23px 16px 23px;
}

/* habits section style */
.habits {
    margin: 100px auto;
}

.habits-text {
    text-align: center;
}

.habits-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 14px 0px;
}

.habits-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.habits-group {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-top: 58px;
}

.habits-group-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habits-group-img img {
    border-radius: 50%;
    width: 70%;
    border: 4px solid rgba(119, 119, 119, 0.262);
}

.habits-group-img h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 26px 0 6px 0px;
}

.habits-group-img p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 6px 0px;
}

/* card section style */

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 32px 30px 56px;
}

.card-text {
    width: 443px;
}

.card-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 14px 0px;
}

.card-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin: 14px 0px;
    line-height: 24px;
}

.card-image {
    border-radius: 18px;
    width: 366px;
    height: 312px;
    object-fit: none;
    object-position: 68% 30%;
}

/* bmi calculator style section */
.calculator {
    margin: 78px 0;
}

.cal-text {
    width: 50%;
    margin: 14px auto;
    font-size: 48px;
    font-weight: 900;

}

.bmi {
    background: rgb(34, 34, 34);
}

.bmi-chart {
    display: flex;

    align-items: start;
}

.cal-description {
    width: 50%;
    margin: 14px auto;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
table{
    margin-top: 52px;
}
table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 11px;
    width: 310px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.th {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: start;
}

.bmi-table {
    width: 100%;
}

.bmi-cal {
    margin: 34px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;

}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.grid i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.grid:last-child {
    grid-column: span 2;
}

.bmi-cal-input {
    width: 100%;

    padding: 10px 10px 10px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.bmi-text {
    font-size: 28px;
    font-weight: 900;
    margin: 50px 0 14px 0px;
}
.bmi-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}