* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body {
    width: 80%;
    margin: 0 auto;
}
/* navbar section style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}